.goback {
  font-size: 14px;
  color: rgb(78, 78, 100);
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid grey;
  text-decoration: none;
}
.back {
  margin-top: 15px;
  margin-left: 30px;
}
