.form {
  text-align: left;
  margin-top: 20px;
}
.input {
  width: 250px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #222;
}
.btn {
  margin-right: 10px;
  height: 20px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #222;
}
.icon {
  width: 10px;
  height: 10px;
}
